# Data frames
Data frames are basically the common tables you know from excel or from anywhere on the internet. Usually data.frame is the product of your long effort to preprocess and clean the data. To combine what we already know, data.frames are lists of vectors of the same size, which have functionality ot easily access rows of data across multiple vectors.

Data frames columns MUST have same length - missing values can be replaced with NAs, NaNs or NULLs;
And similarly to the vector restraint, each column must have only a single variable type.

In [1]:
df = data.frame(age = sample(1:50, 15, rep = T), gender = sample(c("M", "F"), 15, rep = T))

There are some simple functions to examine data.frames

In [2]:
head(df)

  age gender
1   8      F
2  10      M
3  31      M
4  23      M
5  45      F
6   9      F

In [4]:
summary(df)

      age        gender
 Min.   : 1.00   F:9
 1st Qu.:12.00   M:6
 Median :31.00
 Mean   :27.87
 3rd Qu.:41.50
 Max.   :50.00

In [3]:
nrow(df)
ncol(df)

[1] 15

[1] 2

## Subsetting
There are many ways how to subset a data frame. The first thing to realise is that data frame is a list of vectors, therefore we can use similar functionality that lists have. If in doubt, go back to varaibles lecture about lists.

### Columns